.card {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 24rem;
  transition: 0.5s;
  display: flex;
  position: relative;
}
.card:hover {
  width: 48rem;
  transition-delay: 0.5s;
}

.card .form {
  width: 100%;
  transition: 0.5s;
}
.card:hover .form {
  width: 40%;
  transition-delay: 0.5s;
}

.card .imgKey {
  position: absolute;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  top: 50%;
  left: 50%;
  width: 300px;
  height: 18px;
  transition: 0.5s ease-in-out;
}
.card:hover .imgKey {
  transform: translate(-50%, -50%) scale(1) rotate(-5deg);
  top: 75%;
  left: 90%;
  width: 310px;
  height: 218px;
  transition-delay: 0.8s;
}

.card .content {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 18%;
  left: 45%;
  color: black;
  transition: 0.5s;
}
.card:hover .content {
  transition-delay: 0.7s;
  opacity: 1;
  visibility: visible;
}
